<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate icon" class="js-site-favicon" type="image/png" href="static/img/favicon.png">
    <meta name="description" content="Facebook Video Downloader Online, Descargue Videos de Facebook y Guárdelos directamente desde facebook a su ordenador o dispositivo móvil de forma gratuita y sin necesidad de software. También ofrecemos un descargador de vídeo Chrome Extension. FBDOWN Mejor Descargador de Videos de Facebook.">
    <meta name="keywords" content="descargar videos de facebook,facebook descargar,bajar videos de facebook,bajar video de facebook,descargar video facebook,descargar videos facebook,download facebook videos,download facebook video,facebook video downloader,downloader for facebook,descargar videos de facebook,descargar videos de facebook,descargar facebook video,convertidor de videos de facebook,facebook video downloader,download facebook videos,facebook videos download,video downloader for facebook,video facebook download,descargar videos de facebook online">
    <meta name="author" content="Fdown">
    <title>Descargador de vídeos de Facebook en línea</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'cover.css') }}" rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner"><a href="https://fdown.live">
                <h4 class="masthead-brand"><img height="46" width="46" src="{{ url_for('static', filename = 'img/logo.png') }}" alt="Logo fdownloader.net" style="height:46px;margin-right:10px;">FDOWN</h4></a>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Inicio</a>
                    <a class="nav-link" href="/about">Acerca de</a>
                    <a class="nav-link" href="/terms-conditions">Términos de servicio</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Facebook Video Dercargador</h1>  
            <p class="lead">Descargador de Videos de Facebook</p>
            <p class="lead">
                <form action="/download" method="post">
                    <input type="text" class="form-control" placeholder="Enter video url here" name="url">
                    <button type="submit" class="btn btn-success mt-3">Descargar</button>
                </form>
            </p>
            <span class="badge badge-secondary">#descargar videos de facebook</span> </h2><span class="badge badge-secondary">#facebook descargar</span></h2>
            <span class="badge badge-secondary">#bajar video de facebook</span></h2> <span class="badge badge-secondary">#descargar video facebook</span></h2> <span class="badge badge-secondary">#descargar videos facebook</span></h2> <span class="badge badge-secondary">download facebook videos</span></h2>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Facebook Video Dercargador <a
                        href="fdown.live">FDOWN</a>.</p>
            </div>
        </footer>
    </div>
</body>

</html>